/*--- Common ---*/

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #eef3ff;
    line-height: 140%;
    letter-spacing: 0.7px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    padding: 20px;
}

.btn-order {
    text-decoration: none;
    padding: 14px 26px;
    font-size: 1.2rem;
    border: none;
    border-radius: 16px;
    background-color: #b4669d;
    color: white;
}

.btn-order:hover {
    background-color: #7c005e;
}

/*--- Block Promo ---*/

.promo {
    text-align: center;
    margin-bottom: 60px;
}

.promo__title {
    margin-bottom: 42px;
    font-size: 2rem;
    font-weight: 600;
}

.product-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.product-info__img {
    width: 60%;
    margin-right: 0;
    margin-bottom: 24px;
}

.product-info__description {
    align-self: center;
}

.list-property {
    align-self: center;
}

.list-property__item {
    margin-bottom: 12px;
    list-style: disc;
}

/*--- Block Composition ---*/

.composition {
    margin-bottom: 60px;
    text-align: center;
}

.composition-product {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

.composition-product__img {
    width: 60%;
    margin-bottom: 22px;
}

.composition-product__side {
    flex-direction: column;
    justify-content: space-between;
}

.composition-mobile {
    display: block;
    width: 100%;
}

.composition-mobile__text {
    margin-bottom: 20px;
}

.mobile-hidden {
    display: none;
}

/*--- Block Review ---*/

.reviews-block {
    text-align: center;
    margin-bottom: 60px;
}

.review-carousel {
    margin-bottom: 32px;
}

.carousel-review {
    max-width: 356px;
    margin-right: 0;
    margin-bottom: 24px;
}

.carousel-review__text {
    background: linear-gradient(180deg, rgb(180, 102, 157), rgb(118, 0, 95), rgb(180, 102, 157));
    border-radius: 24px;
    padding: 24px 32px;
    margin-bottom: 18px;
    margin-right: 10px;
    color: white;
}

.carousel-review__title {
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.carousel-review__author-photo {
    width: 56px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

/*--- About Product ---*/

.about-product {
    margin-bottom: 60px;
    text-align: center;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 42px;
}

.features__item {
    margin-right: 22px;
    list-style: disc;
}

/*--- Block Order ---*/

.order-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-bottom: 40px;
    background-color: white;
    padding: 40px;
    border-radius: 26px;
    box-shadow: 0 6px 40px #b1c7f4;
}

.order-form__title {
    margin-bottom: 32px;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.order-form__info {
    text-align: center;
    margin-bottom: 32px;
}

.order-form__photo {
    width: 80%;
    margin-bottom: 16px;
}

.order-form__price {
    color: black;
    font-size: 1.4rem;
    text-decoration: line-through;
    transition: font-size 3s, color 3s;
}

.order-form__price_new:hover {
    font-size: 2.6rem;
    color: red;
}

.order-form__price_new {
    font-size: 2rem;
    font-weight: 600;
    color: #eebc00;
    text-decoration: none;
}

.order-form-section {
    align-self: flex-start;
    padding: 40px;
    border-radius: 16px;
    background-color: #eef3ff;
    font-size: 1.2rem;
}

.order-form-section__row {
    margin-bottom: 16px;
}

.form-control {
    display: block;
    width: 80%;
    padding: 9px 18px;
    font-size: 1rem;
}

.tooltip-wrapper {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    top: -52px;
    right: 0;
    background-color: #6e005e;
    padding: 12px;
    border-radius: 16px;
    color: white;
}

.tooltip::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #6e005e;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    transform: rotate(45deg);
}

.timer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    margin-bottom: 28px;
    line-height: 1;
}

.timer__min {
    margin-right: 10px;
}

/*--- Media ---*/

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .mobile-hidden {
        display: flex;
    }

    .composition-mobile {
        display: none;
    }

    .product-info__img {
        width: 40%;
    }

    .composition-product__img {
        width: 40%;
    }

    .info-product__img {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .product-info__img {
        width: 20%;
        margin-bottom: 0;
        margin-right: 24px;
    }

    .carousel-review {
        margin-right: 24px;
        margin-bottom: 0;
    }

    .order-form__info {
        margin-bottom: 0;
    }

    .form-control {
        width: 85%;
    }

    .info-product {
        flex-wrap: nowrap;
    }

    .composition-product__img {
        width: 20%;
    }
}
